<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="shipping_restriction_listing_data_source" xsi:type="string">
                    Tigren\ShippingRestriction\Model\ResourceModel\ShippingRestriction\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Tigren\ShippingRestriction\Model\ResourceModel\ShippingRestriction\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">shipping_restrictions</argument>
            <argument name="eventPrefix" xsi:type="string">shipping_restrictions_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">shipping_restrictions_collection</argument>
            <argument name="resourceModel" xsi:type="string">
                Tigren\ShippingRestriction\Model\ResourceModel\ShippingRestriction
            </argument>
        </arguments>
    </virtualType>
</config>
