<?xml version="1.0"?>
<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2024 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="post_listing_data_source" xsi:type="string">
                    Tigren\SimpleBlog\Model\ResourceModel\Post\Grid\Collection
                </item>
            </argument>
        </arguments>
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="category_listing_data_source" xsi:type="string">
                    Tigren\SimpleBlog\Model\ResourceModel\Category\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Tigren\SimpleBlog\Model\ResourceModel\Post\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">blog_post</argument>
            <argument name="eventPrefix" xsi:type="string">post_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">post_collection</argument>
            <argument name="resourceModel" xsi:type="string">
                Tigren\SimpleBlog\Model\ResourceModel\Post
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Tigren\SimpleBlog\Model\ResourceModel\Category\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">blog_category</argument>
            <argument name="eventPrefix" xsi:type="string">category_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">category_collection</argument>
            <argument name="resourceModel" xsi:type="string">
                Tigren\SimpleBlog\Model\ResourceModel\Category
            </argument>
        </arguments>
    </virtualType>
</config>
