<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="customer_group_catalog_listing_data_source" xsi:type="string">
                    Tigren\CustomerGroupCatalog\Model\ResourceModel\CustomerGroupCatalog\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Tigren\CustomerGroupCatalog\Model\ResourceModel\CustomerGroupCatalog\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">customer_group_catalog_rule</argument>
            <argument name="eventPrefix" xsi:type="string">customer_group_catalog_rule_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">customer_group_catalog_rule_collection</argument>
            <argument name="resourceModel" xsi:type="string">
                Tigren\CustomerGroupCatalog\Model\ResourceModel\CustomerGroupCatalog
            </argument>
        </arguments>
    </virtualType>
    <type name="Tigren\CustomerGroupCatalog\Controller\Adminhtml\Index\Save">
        <arguments>
            <argument name="ruleFactory" xsi:type="object">
                Tigren\CustomerGroupCatalog\Model\CustomerGroupCatalogFactory
            </argument>
        </arguments>
    </type>
</config>
